#sim-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
}

#sim-controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    padding: 10px;
}

button {
    font-size: 1.5em;
    padding: 0.3em;
}

#sim-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}