name: vscode-makecode Release

# Currently only run this pipeline on request 
trigger: none
pr: none

parameters:
- name: nodeVersion
  type: string
  default: '20.x'
- name: isPreRelease
  type: boolean
  default: false
- name: signType
  type: string
  default: 'test'
  values:
  - 'test'
  - 'real'

resources:
  repositories:
  - repository: CustomPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/MicroBuildTemplate

variables:
- group: 'makecode-marketplace-pat'

extends:
  template: azure-pipelines/MicroBuild.1ES.Official.yml@CustomPipelineTemplates
  parameters:
    pool:
      name: AzurePipelines-EO
      image: 1ESPT-Ubuntu22.04
      os: linux
    sdl:
      sourceAnalysisPool:
        name: AzurePipelines-EO
        image: 1ESPT-Windows2022
    stages:
      # Stage to build the VSIX and publish it
    - template: stages/build.yml
      parameters:
        isPreRelease: ${{ parameters.isPreRelease }}
        nodeVersion: ${{ parameters.nodeVersion }}

    - template: stages/sign.yml
      parameters:
        signType: ${{ parameters.signType }}

    # Stage provides a manual approval step before the publish stage is run
    - template: stages/approval.yml

    # Publish the VSIX to the extension marketplace
    - template: stages/publish.yml
      parameters:
        isPreRelease: ${{ parameters.isPreRelease }}
