name: pxt-vscode-web PreRelease

# Currently only run this pipeline on request 
trigger: none
pr: none

pool:
  vmImage: 'ubuntu-latest'

stages:
  # Stage to build the VSIX and publish it
- stage: Build
  displayName: Build the VSIX
  jobs:
  - job: Build
    steps:
    - template: templates/build.yml
      parameters:
        isPreRelease: true
  
  # Stage provides a manual approval step before the publish stage is run
- stage: Approval
  displayName: Approve the release
  jobs:
  - deployment: ApproveRelease
    displayName: "Approve Release"
    environment: "treehouse" # Defined in AzDO Pipeline environments
    strategy:
      runOnce:
        deploy:
          steps:
            - checkout: none

  # Publish the VSIX to the extension marketplace 
- stage: Publish
  displayName: Publish the VSIX
  dependsOn:
    - Build
    - Approval
  jobs:
  - job: Publish
    steps:
    - template: templates/publish.yml
      parameters:
        isPreRelease: true
