name: vscode-makecode Pre-Release

# Currently only run this pipeline on request 
trigger: none
pr: none

parameters:
- name: nodeVersion
  type: string
  default: '20.x'

resources:
  repositories:
  - repository: CustomPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/MicroBuildTemplate

variables:
- group: 'makecode-marketplace-pat'

extends:
  template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate
  parameters:
    pool:
      name: AzurePipelines-EO
      image: 1ESPT-Ubuntu22.04
      os: linux
    sdl:
      sourceAnalysisPool:
        name: AzurePipelines-EO
        image: 1ESPT-Windows2022
    stages:
    - template: stages/pipeline-stages.yml
      parameters:
        isPreRelease: true
        nodeVersion: ${{ parameters.nodeVersion }}
        signType: 'test'
